.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
}

.result-text {
  white-space: pre-wrap; /* This will wrap the text within the <pre> element */
  word-wrap: break-word; /* This ensures that long words are broken and wrapped to the next line */
}

